In [1]:
import pandas as pd
import urllib
from urllib import request
import numpy as np
import sklearn 
from statistics import mean 
import statistics
from sklearn import preprocessing
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler
from sklearn import neural_network
from sklearn.neural_network import MLPRegressor
from math import sqrt
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.cross_validation import train_test_split 
from subprocess import check_output
from datetime import time
from sklearn.pipeline import make_pipeline
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn import feature_selection

C:\Users\chethan\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
url = "https://raw.githubusercontent.com/LuisM78/Appliances-energy-prediction-data/master/energydata_complete.csv"
df = pd.read_csv(url)

In [3]:
df['date'] = pd.to_datetime(df['date'])
df['month'] , df['time'] , df['hour'] ,df['day'] , df['day_of_week'] =  df['date'].dt.month , df['date'].dt.time , df['date'].dt.hour , df['date'].dt.day , df['date'].dt.weekday_name
df['weekStatus'] = df['date'].dt.dayofweek
df['weekendstatus'] = np.where(df['weekStatus'] < 5, 0, 1)

#To Calculate NSM
df['datenew'] = df['date'].dt.date
datenum=df['datenew'].unique()
lennsm = len(datenum)+1
#print("len",lennsm)
data=[]
for j in range (1,lennsm):
    if (j==1):
        for i in range (0,42):
            if (i==0):
                a = 61200
                data.append(a)
            elif (i > 0 ):
                a = a + 600
                data.append(a)
    elif (j > 1 ):
        for i in range (0,144):
            if (i==0):
                a = 0
                data.append(a)
            elif (i > 0 ):
                a = a + 600
                data.append(a)
df1 = pd.DataFrame({'data_converted' : data})
dfc1 = df1[:len(df)]
df['NSM'] = dfc1
###################
df_day = pd.get_dummies(df['day_of_week'])
df = df.join(df_day)
del df['Monday']
del df['weekStatus']
del df['day_of_week']
del df['time']
del df['datenew']
#SETTING DATE COLUMN AS INDEX
df = df.set_index('date')

In [4]:
df.head(10)

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,hour,day,weekendstatus,NSM,Friday,Saturday,Sunday,Thursday,Tuesday,Wednesday
date,,,,,,,,,,,,,,,,,,,,,
2016-01-11 17:00:00,60,30,19.890000,47.596667,19.20,44.790000,19.79,44.730000,19.000000,45.566667,...,17,11,0,61200,0,0,0,0,0,0
2016-01-11 17:10:00,60,30,19.890000,46.693333,19.20,44.722500,19.79,44.790000,19.000000,45.992500,...,17,11,0,61800,0,0,0,0,0,0
2016-01-11 17:20:00,50,30,19.890000,46.300000,19.20,44.626667,19.79,44.933333,18.926667,45.890000,...,17,11,0,62400,0,0,0,0,0,0
2016-01-11 17:30:00,50,40,19.890000,46.066667,19.20,44.590000,19.79,45.000000,18.890000,45.723333,...,17,11,0,63000,0,0,0,0,0,0
2016-01-11 17:40:00,60,40,19.890000,46.333333,19.20,44.530000,19.79,45.000000,18.890000,45.530000,...,17,11,0,63600,0,0,0,0,0,0
2016-01-11 17:50:00,50,40,19.890000,46.026667,19.20,44.500000,19.79,44.933333,18.890000,45.730000,...,17,11,0,64200,0,0,0,0,0,0
2016-01-11 18:00:00,60,50,19.890000,45.766667,19.20,44.500000,19.79,44.900000,18.890000,45.790000,...,18,11,0,64800,0,0,0,0,0,0
2016-01-11 18:10:00,60,50,19.856667,45.560000,19.20,44.500000,19.73,44.900000,18.890000,45.863333,...,18,11,0,65400,0,0,0,0,0,0
2016-01-11 18:20:00,60,40,19.790000,45.597500,19.20,44.433333,19.73,44.790000,18.890000,45.790000,...,18,11,0,66000,0,0,0,0,0,0
2016-01-11 18:30:00,70,40,19.856667,46.090000,19.23,44.400000,19.79,44.863333,18.890000,46.096667,...,18,11,0,66600,0,0,0,0,0,0

In [5]:
def mae(org,pred):
    return mean_absolute_error(org,pred)
def rmse(org,pred):
    return np.sqrt(mean_squared_error(org,pred))
def r2s(org,pred):
    return r2_score(org,pred)
def mape(org,pred):
    y_true, y_pred = np.array(org), np.array(pred)
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [6]:
def scores(model,yorg,ypred):
    print("The scores for the model : ",model)
    print("MAE    :    ",mae(yorg,ypred))
    print("RMSE   :    ",rmse(yorg,ypred))
    print("R2     :    ",r2s(yorg,ypred))
    print("MAPE   :    ",mape(yorg,ypred))

In [7]:
data1 = df
data1 = data1.drop(['Appliances'],axis=1)

In [8]:
data1

,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,hour,day,weekendstatus,NSM,Friday,Saturday,Sunday,Thursday,Tuesday,Wednesday
date,,,,,,,,,,,,,,,,,,,,,
2016-01-11 17:00:00,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,45.566667,17.166667,...,17,11,0,61200,0,0,0,0,0,0
2016-01-11 17:10:00,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,45.992500,17.166667,...,17,11,0,61800,0,0,0,0,0,0
2016-01-11 17:20:00,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,45.890000,17.166667,...,17,11,0,62400,0,0,0,0,0,0
2016-01-11 17:30:00,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,45.723333,17.166667,...,17,11,0,63000,0,0,0,0,0,0
2016-01-11 17:40:00,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,45.530000,17.200000,...,17,11,0,63600,0,0,0,0,0,0
2016-01-11 17:50:00,40,19.890000,46.026667,19.200000,44.500000,19.790000,44.933333,18.890000,45.730000,17.133333,...,17,11,0,64200,0,0,0,0,0,0
2016-01-11 18:00:00,50,19.890000,45.766667,19.200000,44.500000,19.790000,44.900000,18.890000,45.790000,17.100000,...,18,11,0,64800,0,0,0,0,0,0
2016-01-11 18:10:00,50,19.856667,45.560000,19.200000,44.500000,19.730000,44.900000,18.890000,45.863333,17.100000,...,18,11,0,65400,0,0,0,0,0,0
2016-01-11 18:20:00,40,19.790000,45.597500,19.200000,44.433333,19.730000,44.790000,18.890000,45.790000,17.166667,...,18,11,0,66000,0,0,0,0,0,0
2016-01-11 18:30:00,40,19.856667,46.090000,19.230000,44.400000,19.790000,44.863333,18.890000,46.096667,17.100000,...,18,11,0,66600,0,0,0,0,0,0
2016-01-11 18:40:00,70,19.926667,45.863333,19.356667,44.400000,19.790000,44.900000,18.890000,46.430000,17.100000,...,18,11,0,67200,0,0,0,0,0,0
2016-01-11 18:50:00,60,20.066667,46.396667,19.426667,44.400000,19.790000,44.826667,19.000000,46.430000,17.100000,...,18,11,0,67800,0,0,0,0,0,0
2016-01-11 19:00:00,50,20.133333,48.000000,19.566667,44.400000,19.890000,44.900000,19.000000,46.363333,17.100000,...,19,11,0,68400,0,0,0,0,0,0
2016-01-11 19:10:00,40,20.260000,52.726667,19.730000,45.100000,19.890000,45.493333,19.000000,47.223333,17.100000,...,19,11,0,69000,0,0,0,0,0,0
2016-01-11 19:20:00,10,20.426667,55.893333,19.856667,45.833333,20.033333,47.526667,19.000000,48.696667,17.100000,...,19,11,0,69600,0,0,0,0,0,0
2016-01-11 19:30:00,10,20.566667,53.893333,20.033333,46.756667,20.100000,48.466667,19.000000,48.490000,17.150000,...,19,11,0,70200,0,0,0,0,0,0
2016-01-11 19:40:00,10,20.730000,52.660000,20.166667,47.223333,20.200000,48.530000,18.926667,48.156667,17.166667,...,19,11,0,70800,0,0,0,0,0,0
2016-01-11 19:50:00,30,20.856667,53.660000,20.200000,47.056667,20.200000,48.447500,18.890000,47.963333,17.200000,...,19,11,0,71400,0,0,0,0,0,0
2016-01-11 20:00:00,30,20.890000,51.193333,20.200000,46.330000,20.200000,48.193333,18.963333,48.630000,17.200000,...,20,11,0,72000,0,0,0,0,0,0
2016-01-11 20:10:00,40,20.890000,49.800000,20.200000,46.026667,20.166667,47.633333,19.033333,49.500000,17.593333,...,20,11,0,72600,0,0,0,0,0,0
2016-01-11 20:20:00,20,20.890000,48.433333,20.200000,45.722500,20.166667,47.300000,19.175000,49.947500,18.066667,...,20,11,0,73200,0,0,0,0,0,0
2016-01-11 20:30:00,40,20.963333,47.633333,20.260000,45.530000,20.200000,47.026667,19.260000,49.696667,17.666667,...,20,11,0,73800,0,0,0,0,0,0
2016-01-11 20:40:00,40,21.033333,47.063333,20.290000,45.223333,20.260000,46.826667,19.323333,49.166667,17.600000,...,20,11,0,74400,0,0,0,0,0,0
2016-01-11 20:50:00,40,21.100000,46.596667,20.356667,44.963333,20.290000,46.633333,19.390000,48.426667,17.566667,...,20,11,0,75000,0,0,0,0,0,0
2016-01-11 21:00:00,30,21.133333,46.060000,20.426667,44.760000,20.290000,46.433333,19.390000,48.193333,17.760000,...,21,11,0,75600,0,0,0,0,0,0
2016-01-11 21:10:00,20,21.200000,45.800000,20.500000,44.760000,20.390000,46.223333,19.390000,47.800000,18.356667,...,21,11,0,76200,0,0,0,0,0,0
2016-01-11 21:20:00,30,21.290000,45.900000,20.533333,45.090000,20.390000,46.090000,19.390000,47.560000,18.356667,...,21,11,0,76800,0,0,0,0,0,0
2016-01-11 21:30:00,20,21.356667,45.826667,20.666667,45.163333,20.390000,46.090000,19.390000,47.500000,18.600000,...,21,11,0,77400,0,0,0,0,0,0
2016-01-11 21:40:00,20,21.390000,45.690000,20.700000,45.060000,20.390000,46.090000,19.426667,47.993333,18.666667,...,21,11,0,78000,0,0,0,0,0,0
2016-01-11 21:50:00,20,21.500000,45.333333,20.700000,44.933333,20.390000,46.060000,19.566667,48.466667,18.823333,...,21,11,0,78600,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-05-27 13:10:00,0,25.033333,48.363333,26.528571,40.595714,28.496667,41.900000,24.500000,45.066667,22.760000,...,13,27,0,47400,1,0,0,0,0,0
2016-05-27 13:20:00,0,25.166667,48.156667,26.600000,40.940000,28.290000,41.966667,24.500000,45.333333,22.790000,...,13,27,0,48000,1,0,0,0,0,0
2016-05-27 13:30:00,0,25.323333,47.930000,26.600000,41.012857,28.200000,42.090000,24.533333,45.566667,22.790000,...,13,27,0,48600,1,0,0,0,0,0
2016-05-27 13:40:00,0,25.390000,47.656667,26.600000,41.036000,28.200000,42.030000,24.600000,45.760000,22.790000,...,13,27,0,49200,1,0,0,0,0,0
2016-05-27 13:50:00,0,25.500000,47.133333,26.600000,41.000000,28.200000,41.796667,24.600000,45.790000,22.856667,...,13,27,0,49800,1,0,0,0,0,0
2016-05-27 14:00:00,10,25.500000,47.060000,26.540000,41.000000,28.200000,41.530000,24.600000,45.863333,22.890000,...,14,27,0,50400,1,0,0,0,0,0
2016-05-27 14:10:00,0,25.600000,46.990000,26.512500,41.203750,28.200000,41.590000,24.633333,46.030000,22.890000,...,14,27,0,51000,1,0,0,0,0,0
2016-05-27 14:20:00,0,25.600000,46.730000,26.437143,41.384286,28.426667,41.430000,24.700000,46.090000,22.890000,...,14,27,0,51600,1,0,0,0,0,0
2016-05-27 14:30:00,0,25.566667,46.633333,26.370000,41.378000,28.566667,41.156667,24.700000,45.966667,22.890000,...,14,27,0,52200,1,0,0,0,0,0
2016-05-27 14:40:00,0,25.500000,46.360000,26.318571,41.264286,28.566667,40.663333,24.700000,45.826667,22.890000,...,14,27,0,52800,1,0,0,0,0,0
2016-05-27 14:50:00,0,25.500000,46.060000,26.350000,41.000000,28.426667,40.590000,24.666667,45.526667,22.890000,...,14,27,0,53400,1,0,0,0,0,0
2016-05-27 15:00:00,0,25.500000,45.933333,26.277143,41.000000,28.356667,40.560000,24.666667,45.400000,22.945000,...,15,27,0,54000,1,0,0,0,0,0
2016-05-27 15:10:00,0,25.500000,45.760000,26.200000,41.000000,28.290000,40.433333,24.700000,45.363333,23.000000,...,15,27,0,54600,1,0,0,0,0,0
2016-05-27 15:20:00,0,25.500000,45.626667,26.171429,41.000000,28.260000,40.260000,24.700000,45.230000,23.000000,...,15,27,0,55200,1,0,0,0,0,0
2016-05-27 15:30:00,0,25.500000,45.590000,26.100000,41.000000,28.200000,40.126667,24.700000,45.163333,23.033333,...,15,27,0,55800,1,0,0,0,0,0
2016-05-27 15:40:00,0,25.500000,45.522500,26.100000,41.051429,28.200000,40.200000,24.700000,45.163333,23.033333,...,15,27,0,56400,1,0,0,0,0,0
2016-05-27 15:50:00,0,25.500000,45.633333,26.080000,41.196000,28.133333,40.260000,24.700000,45.300000,23.033333,...,15,27,0,57000,1,0,0,0,0,0
2016-05-27 16:00:00,0,25.500000,45.730000,26.000000,41.428571,28.100000,40.433333,24.700000,45.433333,23.100000,...,16,27,0,57600,1,0,0,0,0,0
2016-05-27 16:10:00,0,25.500000,45.790000,26.000000,41.590000,28.100000,40.560000,24.700000,45.500000,23.100000,...,16,27,0,58200,1,0,0,0,0,0
2016-05-27 16:20:00,0,25.500000,45.933333,26.000000,41.652857,28.000000,40.700000,24.700000,45.466667,23.100000,...,16,27,0,58800,1,0,0,0,0,0
2016-05-27 16:30:00,0,25.426667,46.060000,26.000000,41.700000,28.000000,40.760000,24.700000,45.400000,23.200000,...,16,27,0,59400,1,0,0,0,0,0
2016-05-27 16:40:00,0,25.500000,46.530000,26.000000,41.725714,27.856667,40.500000,24.700000,45.500000,23.200000,...,16,27,0,60000,1,0,0,0,0,0
2016-05-27 16:50:00,0,25.500000,47.456667,26.000000,42.320000,27.663333,40.693333,24.700000,45.560000,23.200000,...,16,27,0,60600,1,0,0,0,0,0
2016-05-27 17:00:00,0,25.600000,47.193333,25.968571,42.528571,27.390000,41.030000,24.700000,45.626667,23.200000,...,17,27,0,61200,1,0,0,0,0,0
2016-05-27 17:10:00,0,25.533333,46.860000,25.978000,42.534000,27.323333,41.090000,24.700000,45.626667,23.200000,...,17,27,0,61800,1,0,0,0,0,0
2016-05-27 17:20:00,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,45.590000,23.200000,...,17,27,0,62400,1,0,0,0,0,0
2016-05-27 17:30:00,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,45.590000,23.230000,...,17,27,0,63000,1,0,0,0,0,0
2016-05-27 17:40:00,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,45.730000,23.230000,...,17,27,0,63600,1,0,0,0,0,0
2016-05-27 17:50:00,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,45.790000,23.200000,...,17,27,0,64200,1,0,0,0,0,0
2016-05-27 18:00:00,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,45.963333,23.200000,...,18,27,0,64800,1,0,0,0,0,0

In [9]:
X = data1
y = df.Appliances

In [ ]:
#X = X.values

In [ ]:
#y = y.values

In [10]:
# splitting X and y into training and testing sets
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7,
                                                    random_state=1)

In [ ]:
#est= MLPRegressor()
#minmax_scaler = preprocessing.MinMaxScaler()
#selector = feature_selection.RFE(est)
#pipe_params = [('feat_selection',selector),('std_scaler', minmax_scaler), ('clf', est)]
##pipe = Pipeline(pipe_params)

In [ ]:
# Declare hyperparameters to tune
#param_grid = {'activation' : ['tanh', 'relu'],'solver' : ['adam', 'sgd'] }
#param_grid = {'solver' : ['adam', 'sgd'] }

In [ ]:
#clf1 = GridSearchCV(pipe, param_grid=param_grid, cv=10)

In [ ]:
#clf1.fit(X_train, y_train)

In [ ]:
param_grid1 = {'activation' : ['tanh', 'relu'],'solver' : ['adam', 'sgd'],
              'learning_rate_init': [0.001,0.1],'alpha':[0.0001,0.15]}

In [ ]:
param_grid1

In [12]:
param_grid2 = {'activation' : ['tanh', 'relu'],'solver' : ['adam', 'sgd'],'alpha':[0.0001,0.15]}

In [13]:
param_grid2

{'activation': ['tanh', 'relu'],
 'solver': ['adam', 'sgd'],
 'alpha': [0.0001, 0.15]}

In [14]:
rf = MLPRegressor()

In [15]:
gs = GridSearchCV(rf, param_grid=param_grid2, cv = 3, n_jobs = -1, verbose=3, refit=True)

In [16]:
gs.fit(X_train, y_train)

Fitting 3 folds for each of 8 candidates, totalling 24 fits

[Parallel(n_jobs=-1)]: Done  18 out of  24 | elapsed:   15.8s remaining:    5.2s
[Parallel(n_jobs=-1)]: Done  24 out of  24 | elapsed:   18.1s finished

GridSearchCV(cv=3, error_score='raise',
       estimator=MLPRegressor(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(100,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False),
       fit_params=None, iid=True, n_jobs=-1,
       param_grid={'activation': ['tanh', 'relu'], 'solver': ['adam', 'sgd'], 'alpha': [0.0001, 0.15]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=3)

In [17]:
gs.best_params_

{'activation': 'relu', 'alpha': 0.0001, 'solver': 'adam'}

In [18]:
mlp = MLPRegressor(hidden_layer_sizes=(100,), activation='relu', solver='adam', alpha=0.0001, batch_size='auto',learning_rate_init=0.001)

In [19]:
X_train

,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,hour,day,weekendstatus,NSM,Friday,Saturday,Sunday,Thursday,Tuesday,Wednesday
date,,,,,,,,,,,,,,,,,,,,,
2016-05-09 10:40:00,0,24.600000,39.290000,27.700000,32.826667,26.200000,37.230000,24.790000,38.000000,23.100000,...,10,9,0,38400,0,0,0,0,0,0
2016-04-19 01:20:00,0,21.290000,37.230000,18.700000,39.260000,22.600000,36.500000,22.000000,34.290000,20.133333,...,1,19,0,4800,0,0,0,0,1,0
2016-04-28 08:30:00,0,20.600000,36.430000,19.860000,37.100000,21.426667,34.433333,20.066667,35.560000,18.730000,...,8,28,0,30600,0,0,0,1,0,0
2016-05-05 07:30:00,0,22.290000,36.090000,19.666667,37.700000,23.290000,35.826667,22.290000,32.860000,20.790000,...,7,5,0,27000,0,0,0,1,0,0
2016-05-03 23:50:00,0,22.700000,35.172500,20.260000,36.700000,23.000000,36.363333,22.500000,33.700000,21.100000,...,23,3,0,85800,0,0,0,0,1,0
2016-04-20 14:50:00,0,22.700000,32.590000,22.890000,30.100000,22.390000,35.500000,22.790000,32.795714,19.790000,...,14,20,0,53400,0,0,0,0,0,1
2016-05-27 03:50:00,0,24.033333,44.933333,22.390000,45.290000,26.700000,40.290000,24.500000,42.200000,22.390000,...,3,27,0,13800,1,0,0,0,0,0
2016-04-13 19:40:00,0,22.200000,44.060000,20.290000,45.726667,24.323333,41.400000,22.290000,41.223333,20.903750,...,19,13,0,70800,0,0,0,0,0,1
2016-05-19 01:00:00,0,23.390000,41.400000,21.080000,43.700000,24.600000,39.560000,23.200000,39.590000,21.100000,...,1,19,0,3600,0,0,0,1,0,0
2016-03-27 13:20:00,0,22.600000,38.163333,21.700000,38.133333,23.000000,38.200000,20.600000,39.863333,20.166667,...,13,27,1,48000,0,0,1,0,0,0
2016-02-07 03:30:00,0,21.926667,43.863333,21.230000,43.530000,22.100000,44.966667,19.066667,44.700000,19.111111,...,3,7,1,12600,0,0,1,0,0,0
2016-05-03 21:20:00,0,23.100000,34.530000,21.356667,34.156667,23.100000,36.090000,22.700000,33.663333,21.600000,...,21,3,0,76800,0,0,0,0,1,0
2016-05-14 09:30:00,0,24.390000,35.790000,23.292857,35.471429,24.445000,33.200000,24.790000,34.928571,23.600000,...,9,14,1,34200,0,1,0,0,0,0
2016-04-03 14:00:00,0,22.463333,42.790000,23.500000,38.590000,22.290000,40.790000,21.600000,41.900000,19.500000,...,14,3,1,50400,0,0,1,0,0,0
2016-03-11 17:10:00,0,20.890000,32.363333,19.166667,32.900000,20.200000,34.400000,20.700000,33.260000,17.790000,...,17,11,0,61800,1,0,0,0,0,0
2016-03-25 14:00:00,0,21.700000,41.730000,19.533333,45.260000,23.533333,40.060000,19.790000,39.700000,19.290000,...,14,25,0,50400,1,0,0,0,0,0
2016-02-14 00:40:00,10,21.600000,39.900000,19.790000,40.790000,21.390000,40.590000,19.100000,41.090000,18.161111,...,0,14,1,2400,0,0,1,0,0,0
2016-03-05 02:20:00,0,20.790000,37.200000,18.166667,40.000000,21.260000,37.863333,18.926667,36.290000,18.600000,...,2,5,1,8400,0,1,0,0,0,0
2016-02-25 16:50:00,0,20.890000,39.000000,19.290000,39.260000,22.290000,37.000000,21.566667,34.700000,17.890000,...,16,25,0,60600,0,0,0,1,0,0
2016-05-10 23:40:00,0,24.890000,47.590000,23.290000,48.634000,26.520000,43.536000,25.100000,45.590000,24.133333,...,23,10,0,85200,0,0,0,0,1,0
2016-04-28 01:20:00,10,21.230000,35.730000,18.166667,37.900000,21.323333,34.933333,20.500000,35.200000,19.290000,...,1,28,0,4800,0,0,0,1,0,0
2016-05-10 23:00:00,0,24.890000,47.790000,23.472500,48.475000,26.421429,43.700000,25.100000,45.538571,24.200000,...,23,10,0,82800,0,0,0,0,1,0
2016-04-30 11:40:00,10,21.500000,37.500000,20.356667,37.730000,24.840000,39.595000,20.100000,38.590000,19.200000,...,11,30,1,42000,0,1,0,0,0,0
2016-03-02 23:00:00,0,21.890000,37.000000,20.463333,36.663333,20.790000,38.500000,20.533333,35.663333,18.700000,...,23,2,0,82800,0,0,0,0,0,1
2016-04-08 03:50:00,0,21.260000,39.466667,18.500000,43.530000,22.390000,38.400000,20.600000,38.500000,19.890000,...,3,8,0,13800,1,0,0,0,0,0
2016-03-04 07:10:00,0,20.700000,37.022857,18.790000,38.400000,21.000000,38.756250,19.290000,36.222500,18.157143,...,7,4,0,25800,1,0,0,0,0,0
2016-04-08 16:20:00,10,21.600000,43.026667,20.700000,41.900000,23.633333,41.163333,20.790000,38.326667,20.000000,...,16,8,0,58800,1,0,0,0,0,0
2016-01-14 19:30:00,10,22.463333,47.763333,21.730000,39.633333,22.000000,42.530000,18.790000,45.063333,17.100000,...,19,14,0,70200,0,0,0,1,0,0
2016-01-19 04:40:00,0,19.290000,39.030000,17.790000,39.466667,19.700000,40.663333,18.666667,38.163333,17.100000,...,4,19,0,16800,0,0,0,0,1,0
2016-04-01 17:50:00,0,22.200000,38.200000,20.963333,38.030000,22.290000,37.590000,20.790000,36.700000,19.700000,...,17,1,0,64200,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-01-29 11:50:00,0,18.000000,43.790000,17.200000,44.290000,19.000000,41.900000,16.890000,44.090000,16.688889,...,11,29,0,42600,1,0,0,0,0,0
2016-03-17 21:10:00,20,22.890000,34.163333,20.200000,36.090000,21.790000,35.000000,22.430000,33.430000,19.000000,...,21,17,0,76200,0,0,0,1,0,0
2016-02-05 18:00:00,0,22.390000,44.163333,22.000000,42.900000,22.100000,44.363333,20.100000,47.933333,18.700000,...,18,5,0,64800,1,0,0,0,0,0
2016-05-24 11:10:00,0,24.000000,40.700000,22.356667,42.066667,25.000000,39.000000,23.390000,41.230000,23.500000,...,11,24,0,40200,0,0,0,0,1,0
2016-02-11 08:50:00,0,19.890000,43.060000,19.290000,41.163333,20.730000,41.560000,18.700000,42.326667,18.790000,...,8,11,0,31800,0,0,0,1,0,0
2016-01-18 20:50:00,10,20.463333,40.766667,19.390000,41.060000,20.760000,46.056667,19.496667,38.693333,18.426667,...,20,18,0,75000,0,0,0,0,0,0
2016-02-24 08:30:00,0,20.200000,39.760000,17.890000,41.560000,20.700000,39.400000,19.566667,37.060000,18.230000,...,8,24,0,30600,0,0,0,0,0,1
2016-01-19 10:00:00,0,18.625000,40.545000,17.133333,41.030000,19.100000,39.790000,17.890000,38.090000,16.745000,...,10,19,0,36000,0,0,0,0,1,0
2016-05-17 14:20:00,0,23.823333,40.090000,25.700000,33.933333,24.390000,37.634000,24.133333,38.200000,20.290000,...,14,17,0,51600,0,0,0,0,1,0
2016-04-02 06:00:00,0,21.100000,39.000000,18.600000,42.700000,21.700000,37.200000,20.000000,38.163333,19.290000,...,6,2,1,21600,0,1,0,0,0,0
2016-05-09 17:10:00,20,25.390000,39.200000,26.260000,35.126667,26.500000,37.790000,25.633333,39.030000,23.500000,...,17,9,0,61800,0,0,0,0,0,0
2016-05-25 15:50:00,0,24.200000,38.200000,24.500000,34.790000,25.100000,38.025714,24.200000,39.126667,20.390000,...,15,25,0,57000,0,0,0,0,0,1
2016-05-08 09:20:00,0,24.390000,41.790000,28.800000,33.433333,26.272000,38.400000,24.566667,39.430000,23.390000,...,9,8,1,33600,0,0,1,0,0,0
2016-02-13 19:00:00,10,21.500000,40.745000,20.200000,39.463333,21.260000,39.723333,19.600000,39.656667,18.210000,...,19,13,1,68400,0,1,0,0,0,0
2016-03-10 08:20:00,0,19.426667,37.030000,16.290000,41.790000,20.000000,37.000000,19.463333,35.466667,17.890000,...,8,10,0,30000,0,0,0,1,0,0
2016-05-21 23:00:00,0,24.735455,48.776909,24.500901,46.108859,26.733091,43.285455,24.042342,46.478829,22.976577,...,23,21,1,82800,0,1,0,0,0,0
2016-02-01 06:40:00,20,21.100000,47.400000,20.200000,47.326667,21.600000,46.730000,18.700000,49.200000,19.390000,...,6,1,0,24000,0,0,0,0,0,0
2016-04-08 12:30:00,0,21.356667,43.530000,21.200000,41.933333,22.066667,39.230000,20.890000,38.760000,20.100000,...,12,8,0,45000,1,0,0,0,0,0
2016-02-04 18:00:00,0,22.666667,43.790000,22.222500,42.590000,22.390000,43.427778,20.500000,46.200000,18.655556,...,18,4,0,64800,0,0,0,1,0,0
2016-03-28 00:30:00,0,21.856667,38.290000,19.290000,41.560000,23.000000,38.290000,20.260000,39.290000,20.000000,...,0,28,0,1800,0,0,0,0,0,0
2016-03-05 12:50:00,0,19.700000,36.290000,17.730000,38.363333,20.200000,35.790000,18.356667,36.363333,18.500000,...,12,5,1,46200,0,1,0,0,0,0
2016-05-04 03:00:00,0,22.200000,35.590000,19.290000,38.030000,23.290000,37.200000,22.133333,33.590000,20.730000,...,3,4,0,10800,0,0,0,0,0,1
2016-01-12 17:00:00,0,20.066667,42.833333,19.000000,42.418182,19.790000,44.700000,19.260000,42.560000,17.600000,...,17,12,0,61200,0,0,0,0,1,0
2016-05-24 14:10:00,0,24.290000,40.390000,23.700000,38.796667,25.260000,39.290000,23.790000,41.145000,23.238571,...,14,24,0,51000,0,0,0,0,1,0
2016-03-05 23:10:00,0,19.790000,37.826667,17.600000,39.966667,20.100000,36.966667,17.963333,37.000000,18.926667,...,23,5,1,83400,0,1,0,0,0,0
2016-03-27 18:50:00,0,22.666667,36.790000,20.890000,37.760000,22.890000,37.200000,20.823333,39.663333,20.200000,...,18,27,1,67800,0,0,1,0,0,0
2016-05-10 18:30:00,0,25.356667,48.500000,24.697143,46.965714,26.148750,43.585000,25.390000,45.863333,25.230000,...,18,10,0,66600,0,0,0,0,1,0
2016-02-16 18:20:00,0,21.500000,34.290000,19.500000,34.860000,20.823333,34.966667,19.600000,33.000000,19.100000,...,18,16,0,66000,0,0,0,0,1,0
2016-04-05 05:40:00,0,22.100000,43.863333,19.533333,47.590000,24.700000,41.000000,21.260000,42.663333,20.790000,...,5,5,0,20400,0,0,0,0,1,0
2016-01-13 08:10:00,0,18.790000,44.060000,18.000000,43.700000,19.500000,43.900000,18.290000,43.700000,18.290000,...,8,13,0,29400,0,0,0,0,0,1

In [20]:
xtrain = X_train.values

In [21]:
y_train

date
2016-05-09 10:40:00     50
2016-04-19 01:20:00     30
2016-04-28 08:30:00     70
2016-05-05 07:30:00     70
2016-05-03 23:50:00     40
2016-04-20 14:50:00    100
2016-05-27 03:50:00     60
2016-04-13 19:40:00    210
2016-05-19 01:00:00     40
2016-03-27 13:20:00     70
2016-02-07 03:30:00     40
2016-05-03 21:20:00     50
2016-05-14 09:30:00    100
2016-04-03 14:00:00     90
2016-03-11 17:10:00     40
2016-03-25 14:00:00    250
2016-02-14 00:40:00     60
2016-03-05 02:20:00     50
2016-02-25 16:50:00     90
2016-05-10 23:40:00     70
2016-04-28 01:20:00     50
2016-05-10 23:00:00     60
2016-04-30 11:40:00     70
2016-03-02 23:00:00     50
2016-04-08 03:50:00     50
2016-03-04 07:10:00     20
2016-04-08 16:20:00    330
2016-01-14 19:30:00    100
2016-01-19 04:40:00     30
2016-04-01 17:50:00     50
                      ...
2016-01-29 11:50:00     60
2016-03-17 21:10:00    110
2016-02-05 18:00:00     90
2016-05-24 11:10:00    100
2016-02-11 08:50:00    410
2016-01-18 20:50:00    740
2016-02-24 08:30:00     40
2016-01-19 10:00:00     40
2016-05-17 14:20:00     60
2016-04-02 06:00:00     50
2016-05-09 17:10:00     90
2016-05-25 15:50:00     80
2016-05-08 09:20:00     60
2016-02-13 19:00:00    550
2016-03-10 08:20:00     60
2016-05-21 23:00:00     70
2016-02-01 06:40:00     50
2016-04-08 12:30:00    100
2016-02-04 18:00:00    110
2016-03-28 00:30:00     60
2016-03-05 12:50:00     90
2016-05-04 03:00:00     50
2016-01-12 17:00:00     60
2016-05-24 14:10:00    150
2016-03-05 23:10:00     40
2016-03-27 18:50:00    140
2016-05-10 18:30:00    100
2016-02-16 18:20:00     90
2016-04-05 05:40:00     60
2016-01-13 08:10:00     30
Name: Appliances, Length: 13814, dtype: int64

In [22]:
ytrain = y_train.values

In [23]:
mlp.fit(xtrain,ytrain)

MLPRegressor(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(100,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [24]:
xtest = X_test.values
ytest = y_test.values

In [25]:
ypredtest_unscaled = mlp.predict(xtest)

In [26]:
ypredtest_unscaled

array([ 46.25905253, 143.39573059, 134.85885559, ..., 146.49021976,
       141.16597385, 144.67343943])

In [27]:
print("Scores for test")
scores("MLP - Unscaled",y_test,ypredtest_unscaled)

Scores for test
The scores for the model :  MLP - Unscaled
MAE    :     61.67816318000781
RMSE   :     97.59679285883654
R2     :     0.09857145930683764
MAPE   :     77.08913651755677

In [29]:
ypredtrain_unscaled = mlp.predict(xtrain)

In [30]:
print("Scores for train")
scores("MLP - Unscaledcaled",y_train,ypredtrain_unscaled)

Scores for train
The scores for the model :  MLP - Unscaledcaled
MAE    :     61.48895382030703
RMSE   :     98.11750059737194
R2     :     0.08190884556741285
MAPE   :     78.98945398293198


## Scaling the data and tuning hyperparameters

In [31]:
scaler = MinMaxScaler(feature_range=(0, 1))

In [32]:

xscaled_train = scaler.fit_transform(X_train)

In [33]:
xscaled_test = scaler.fit_transform(X_test)

In [34]:
xscaled_train

array([[0.        , 0.82470961, 0.40034813, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.47518479, 0.33311575, ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.40232313, 0.30700609, ..., 1.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.49736008, 0.23716275, ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.56071806, 0.54960836, ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.21119324, 0.55602698, ..., 0.        , 0.        ,
        1.        ]])

In [35]:
xscaled_test

array([[0.        , 0.22949666, 0.40916667, ..., 1.        , 0.        ,
        0.        ],
       [0.4       , 0.61351637, 0.45388889, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.83526927, 0.37180556, ..., 0.        , 1.        ,
        0.        ],
       ...,
       [0.2       , 0.43294615, 0.20916667, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.53854277, 0.32324074, ..., 0.        , 0.        ,
        0.        ],
       [0.2       , 0.42238648, 0.41305556, ..., 0.        , 0.        ,
        1.        ]])

In [36]:
ytestscaled= y_test.values
ytestscaled = ytestscaled.reshape(len(ytestscaled),1)
yscaled_test = scaler.fit_transform(ytestscaled)

C:\Users\chethan\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

In [37]:
yscaled_test

array([[0.04878049],
       [0.06097561],
       [0.1097561 ],
       ...,
       [0.09756098],
       [0.7195122 ],
       [0.17073171]])

In [40]:
ytrainscaled= y_train.values
ytrainscaled = ytrainscaled.reshape(len(ytrainscaled),1)
yscaled_train = scaler.fit_transform(ytrainscaled)

C:\Users\chethan\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

In [52]:
yscaled_train

array([[0.03738318],
       [0.01869159],
       [0.05607477],
       ...,
       [0.07476636],
       [0.04672897],
       [0.01869159]])

In [55]:
yscaled_train1 =yscaled_train.ravel()

In [56]:
yscaled_train1

array([0.03738318, 0.01869159, 0.05607477, ..., 0.07476636, 0.04672897,
       0.01869159])

In [57]:
gs.fit(xscaled_train, yscaled_train)

Fitting 3 folds for each of 8 candidates, totalling 24 fits

[Parallel(n_jobs=-1)]: Done  18 out of  24 | elapsed:   15.2s remaining:    5.0s
[Parallel(n_jobs=-1)]: Done  24 out of  24 | elapsed:   17.0s finished
C:\Users\chethan\Anaconda3\lib\site-packages\sklearn\neural_network\multilayer_perceptron.py:1306: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(cv=3, error_score='raise',
       estimator=MLPRegressor(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(100,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False),
       fit_params=None, iid=True, n_jobs=-1,
       param_grid={'activation': ['tanh', 'relu'], 'solver': ['adam', 'sgd'], 'alpha': [0.0001, 0.15]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=3)

In [58]:
gs.best_params_

{'activation': 'relu', 'alpha': 0.15, 'solver': 'adam'}

In [59]:
gs.best_estimator_

MLPRegressor(activation='relu', alpha=0.15, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(100,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [60]:
mlpscaled = MLPRegressor(hidden_layer_sizes=(100,), activation='relu', solver='adam', alpha=0.15, batch_size='auto',  max_iter=200,learning_rate_init=0.01)

In [61]:
mlpscaled.fit(xscaled_train, yscaled_train)

C:\Users\chethan\Anaconda3\lib\site-packages\sklearn\neural_network\multilayer_perceptron.py:1306: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MLPRegressor(activation='relu', alpha=0.15, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(100,), learning_rate='constant',
       learning_rate_init=0.01, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [62]:
ypredtestcvss = mlpscaled.predict(xscaled_test)

In [63]:
print("Scores for test")
scores("MLP - scaled optimal ",yscaled_test,ypredtestcvss)

Scores for test
The scores for the model :  MLP - scaled optimal
MAE    :     0.059845147712305105
RMSE   :     0.11662458862318652
R2     :     0.13449782041181857

C:\Users\chethan\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: RuntimeWarning: divide by zero encountered in true_divide
  if __name__ == '__main__':

MAPE   :     inf

In [64]:
ypredtraincvss = mlpscaled.predict(xscaled_train)

In [65]:
print("Scores for train")
scores("MLP - scaled optimal ",yscaled_train,ypredtraincvss)

Scores for train
The scores for the model :  MLP - scaled optimal
MAE    :     0.05726702567409587
RMSE   :     0.08880402291211191
R2     :     0.13895532434624946

C:\Users\chethan\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: RuntimeWarning: divide by zero encountered in true_divide
  if __name__ == '__main__':

MAPE   :     inf